.exit__app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .exite__app__title {
    font: inherit;
    color: black;
    margin-bottom: 1rem;
  }
  .exite__app__control {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


