@font-face {
    font-family: mont;
    src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: montaga;
    src: url(../public/fonts/Montaga-Regular.ttf);
  }
  @font-face {
    font-family: alkalami;
    src: url(../public/fonts/Alkalami-Regular.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .App{
    width: 100vw;
    height: 100vh;
  }
  